<h1>CREATE A NEW STUDENT</h1>

    <%= form_with scope: :student, url: students_path, local: true, data: {turbo: false} do |f|  %>

        <p>
            <%= f.label :firstName %></dr>
            <%= f.text_field :firstName %>
        </p>

        <p>
        <%= f.label :lastname %>
        <%= f.text_field :lastname %>
       </p>

        <p>
        <%= f.label :saySomething %>
        <%= f.text_area :saySomething %>
        </p>

        <p>
        <%= f.submit %>
        </p>


    <% end %>